<div class="mission">
    <h1>Mission statement</h1>
    <div class="missonContent">
        <p>At MedRx, we believe that everyone deserves access to affordable medicine. Our mission is to make it easy for users to find the best prices and discounts on the medicine the need. We ar committed to providing a seamless shopping experienc for our customers, with a focus on convenience and affordability</p>
    </div>
</div>
<div class="team">
    <h1>Our Team</h1>
    <div class="teamContent">
        <p>We're a group of friends who wanted to make it easier for people to access their medicine, so we created MEDRx - the ultimate online tool for finding the best deals and prices on all your prescription needs</p>
    </div>
    <div class="teamLeaders">
        <div class="ceo">
            <h1>John Michael</h1>
            <div class="ceoContent">
                <p>As the CEO of MedRx, my expertise lies in developing effective strategies to improve healthcare accessibility for everyone. With over a decade of experience in the technology industry, I am committed to makin a positive impact in the lives of patients and healthcare providers alike.</p>
            </div>
        </div>
        <div class="cto">
            <h1>Brian Kawinzi</h1>
            <div class="ctoContent">
                <p>As the CTO of MedRx, my expertise lies in creating innovative and user-friendly technology that improves the healthcare experience. With a background in software engineering and a passion for healthcare, i am dedicated to developing soluions that make a difference in people's lives.</p>
            </div>
        </div>
    </div>
</div>
<div class="customers">
    <h1>Happy Customers</h1>
    <div class="customerContent">
        <p>Our website helps customers save money and time by providing them with the best discounts and prices on medicine in nearby pharmacies</p>
    </div>
</div>