<!--searchbar-container-->
<div class="banner">
    <div class="search-barWrapper">
        <div class="Searchbarheader">
            <h2>Compare prices and save upto 80%</h2>
        </div>
        <div class="parent-container">
            <div class="container">
            <input type="text" class="search-input" placeholder="Enter the medication...." >
            <button class="Search-btn" (click)="onSearch()">
                <i class="material-icons">search</i>
            </button>
            </div>
        </div>
    </div>
</div>
<!--stepBox-->
<div class="service-container">
    <div class="service-header">
        <h1>How MedRx Works</h1>
    </div>
    <div class="service" *ngFor="let service of services">
        <h3>{{service.title}}</h3>
        <img [src]="service.image" alt="{{service.title}}">
        <p [class.collapsed]="service.collapsed">{{service.description}}</p>
        <button (click)="toggleViewMore(service)">{{service.collapsed ? 'View More' : 'View Less'}}</button>
      </div>
</div>
<!--features and benefits-->
<div class="features-benefits">
    <div class="features">
        <h1>Features</h1>
        <ul>
            <li>A comprehensive database of medicines and their prices from various pharmacies and suppliers</li>
            <li>Advanced search filters to help users find specific  medicines quickly and easily</li>
            <li>Real-time inventory management for pharmacies snd suppliers to ensure accurate availability of medicines</li>
            <li>Automated order processing and tracking to streamline the supply chain process</li>
            <li>Secure payment gateway for hassle-free transactions between pharmacies and suppliers</li>
        </ul>
    </div>
    <div class="Benefits">
        <h1>Benefits</h1>
        <ul>
            <li>Efficient and covenient access to a wide range of medicines</li>
            <li>Transparent and competitive pricing for medicine purchases</li>
            <li>Streamlined ordering process for pharmacies and suppliers</li>
            <li>Improved supply chain management for pharmacies and suppliers</li>
            <li>Access to a large network of suppliers and pharmacies for better business opportunities</li>
        </ul>
    </div>
</div>
  