<!--searchbar-container-->
<div class="banner">
    <div class="search-barWrapper">
        <div class="Searchbarheader">
            <h2>Compare prices and save upto 80%</h2>
        </div>
        <div class="parent-container">
            <div class="container">
            <input type="text" class="search-input" placeholder="Enter the medication...." >
            <button class="Search-btn" (click)="onSearch()">
                <i class="material-icons">search</i>
            </button>
            </div>
        </div>
    </div>
</div>
<!--stepBox-->
<div class="container mt-5 mb-4">
    <h1 class="text-center">How to <span class="highlight">order medicine</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>find prescription</p>

            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>add to cart</p>
            </div>

        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>place your order </p>
            </div>
        </div>
    </div>
</div>
  