/**searchbar styling**/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
.banner{
  background: url(../../../assets/banner1.jpg);
  height: 600px;
  background-position: center top;
  background-size: cover;
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .container {
    display: flex;
    align-items: center;
    max-width: 800px; /* Adjust this value based on your design preference */
    width: 100%;
    position: relative;
  }
  .Searchbarheader h2{

    text-align: center;
    padding-top: 26px;
    color: #fff;

  }
  .search-input {
    padding: 0.5rem 1rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    flex-grow: 1;
    margin: 10px 0;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  .Search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    background-color:#07b90a;
    border-radius: 0 50px 0;
    color: white;
    border: none;
    border-radius: 0 25px 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    position: absolute; /* Add this line */
    right: 0; /* Add this line */
    height: 3rem;
    width: 3rem; /* Adjust this value if needed */
  }
  
  /**services styling**/
  .services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .service {
    width: 300px;
    text-align: center;
    margin: 1rem;
  }
  
  .service img {
    width: 100%;
    height: auto;
  }
  
  .service h3 {
    margin: 1rem 0;
  }
  .service p {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .service p.collapsed {
    height: 3.6rem; /* Adjust this value to control the number of visible lines when collapsed */
  }
  .services-header {
      display: flex;
      justify-content: center;
      margin-top: 12px;
      font-weight: 600;
  }
  /**stepBox styling**/
  .stepBox{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
}
.stepBox p{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight{
    color: var(--primary-color);
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}
/**features and benefits**/
.features-benefits{
  background: url(../../../assets/banner.jpg);
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;

}
.benfits{
  float: left;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 80;
 
}
.features-benefits ul li{
  color: #fff;
  list-style-type: circle;
}
.features-benefits h1{
  color: #fff;
  text-decoration: solid;
}